<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MozillaTD -->
      <package
            uri="http://smar2t.org/models/mozilla_td"
            class="mozilla_td.Mozilla_tdPackage"
            genModel="model/MozillaTD/MozillaTD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated W3CTD -->
      <package
            uri="http://smar2t.org/models/w3c_td"
            class="w3c_td.W3c_tdPackage"
            genModel="model/W3CTD/W3CTD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ThingUI -->
      <package
            uri="http://smar2t.org/models/thing_ui"
            class="thing_ui.Thing_uiPackage"
            genModel="model/ThingUI/ThingUI.genmodel"/>
   </extension>

</plugin>
