/Action.class
/Attribute.class
/Event.class
/Input.class
/Link.class
/Linkable.class
/Mozilla_tdFactory.class
/Mozilla_tdPackage$Literals.class
/Mozilla_tdPackage.class
/PrimitiveType.class
/Property.class
/Relationship.class
/Thing.class
